@use "../colors.scss";

.Link {
	&.closed {
		.line {
			// marker-mid: url(#arrowhead);
		}
		stroke: colors.$grey-9;
		stroke-width: 0.05px;
	}
	&.complete {
		stroke: colors.$success-5;
		stroke-width: 0.2px;
		.line {
			marker-mid: url(#arrowhead);
		}
	}
	&.in-progress {
		stroke: colors.$warning-5;
		stroke-width: 0.2px;
		.line {
			marker-mid: url(#arrowhead);
		}
	}
	&.open {
		stroke: transparentize($color: colors.$primary-5, $amount: 0.6);
		stroke-width: 0.2px;
	}
	path {
		fill: none;
	}
	.line {
		stroke: inherit;
		stroke-width: inherit;
	}
	.ant {
		stroke: colors.$primary-7 !important;
		stroke-width: 0.1px;
		font-size: 0.1em;
	}
}
