@use "./colors.scss";

#reset {
	position: absolute;
	top: 90%;
	left: 5%;
	z-index: 10;
	cursor: pointer;
	rect {
		stroke-width: 0.1;
		stroke: colors.$grey-3;
		fill: colors.$failure-5;
	}
}

#node-filters {
	margin-bottom: 24px;
}

#node-filters label {
	display: block;
	margin-bottom: 12px;
}

button {
	background-color: colors.$grey-9;
	color: colors.$grey-2;
	border: none;
	padding: 6px 12px;
	box-shadow: 0 2px 2px hsl(0, 0%, 30%);
	cursor: pointer;
}

select {
	background-color: colors.$grey-9;
	color: colors.$grey-2;
	border: none;
	padding: 6px 12px;
	box-shadow: 0 2px 2px hsl(0, 0%, 30%);
	cursor: pointer;
}
